html {text-align: center;
      font-family: Helvetica;
    }


h1 {font-size: 70px;
    font-weight: bold;
    color: white;
  }

a {font-size: 18px;
   color: white;
   font-weight: bold;
 }

h2 {font-size: 32px;
    font-weight: bold;
  }
h3 {font-size: 23px;
    font-weight: bold;
  }

p {font-size: 14px;
  }

.Navigation1 {background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
              background-position: center;
              background-size: cover;
              }

#Designed {background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
           font-weight: bold;
           font-size: 23px;
           color: white;}

.Navigation2 {text-align: left;
              background-color: dimgray;

}

#Navigation2 span {font-size: 11px;
                   color: white;
                 }
